
/*@import url(https://fonts.googleapis.com/css?family-Open+Sans);*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
       font-family: "Roboto",arial,helvetica,sans-serif;
       background: #f5f5f5;
}
.container{
    margin-top:  10px;
}
	
/*menu principal*/	
div.div_menu:hover {
    padding-top: 10px;
}
div.div_menu{
   
    padding-left: 10px;
    cursor:pointer;
    padding: 5px;
}
img.img_menu{
     width: 50px;
}


.menu_span{
    padding-left: 5px;
   
}
/*..........................*/


/*menu facturacion*/

.menu-factu{
   width:40px;
   margin-top:2px;
   margin-left: 3px;
   cursor: pointer;  
}
.input_filtro_asiento{
   
    margin-left: 20px;
    text-align:center;  
}
#button_filtro_asiento{
    
    margin-left: 80px;
    width: 175px;
    font-size: 16px;
    height: 30px;
    margin-top: -5px;
}


/*mensajes emergentes*/


/*keyframes autopopup {
   from {opacity: 0;margin-top:-200px;}
   to {opacity: 1;}
}*/
/*.mensajes {
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
    Animación que durará 2 segundos
   animation:autopopup 2s;
}*/

/*header{
    width: 100%;
    background:  #2a6496;
    background:  #3677AA;
    background: #2b542c;
    background: #000;
    position:absolute;     
    z-index: 1;
}*/
#cargador_modulos{
    margin-left: -15px;
}
#contenedor_principal{
   
    
}
#contenedor_modulo{
    width:1200px;
    height: 100%;
}


.bloquecab1{
    float: left;
        
}
.bloquecab2{
    float:left;
}
.cab{
    width: 100%;
    margin-top: 50px;
   
  
    height: 100px;
    
}
.datos_cli{
    width: 500px;
    height: 100px;
    border-style: solid;
    border-radius: 5px;
    float:left;
}
.lineas{
    width: 100%;
    height: 400px;  
}

.sub{
    width: 100%;
    height: 100px;
}


.inser{
    width: 100%;
    height: 100px;
    
}
.botones_desh{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.opcMenu:hover{
    
    cursor:pointer !important;
}

.menu {
    height:65px;
    margin: auto !important;
    padding: .5em 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    /*background:  linear-gradient(white,grey) !important;*/
}

/*.img_menu{
display: block;
width: 135px;
height: 43px;
background: top;
background: url(button.png) no-repeat top;
}
.img_menu:active {
    background: bottom;
background: url(button.png) no-repeat bottom;
}*/